<%- include('../partials/header.ejs') %>

<header>
  <a href="/dashboard">back</a>
  <h2>reported users</h2>
</header>

<table>
  <thead>
    <tr>
      <th>name</th>
      <th>date</th>
      <th>email</th>
    </tr>
  </thead>

  <% results.forEach(function(results) { %>
    <% if (results.reported) { %>

      <tbody>
        <tr>
          <td> <a href="profile/ <%= results.id %> "> <%= results.name %> </a> </td>
          <td> <%= results.date %></td>
          <td> <%= results.email %> </td>
          <td><a href="/reported_o">collapse</a></td>
        </tr>
        <tr class="hidden"> <!-- kan ook second of type gebruiken denk ik -->
          <th>reported by: </th>
          <td> <%= results.reporter %> </td>
          <th>reason:</th>
          <td> <%= results.reason %> </td>
        </tr>
      </tbody>

    <% } %>
  <% }) %>

</table>

<%- include('../partials/footer.ejs') %>
