<%- include('../partials/header.ejs') %>

  <header>  
    <nav>
      <ul>
        <li class="location">
          <a href="/users"><b>all</b></a>
        </li>
        <li>
          <a href="/users/online">online</a>
        </li>
        <li>
          <a href="/users/banned">banned</a>
        </li>
      </ul>
    </nav>
  </header>

  <main>
    <table>
      <thead>
        <tr>
          <th>name</th>
          <th>last login</th>
          <th></th>
        </tr>
      </thead>

      <tbody>
        <% for (var i = 0; i < results.length; i++) { %>
          <tr>
            <td> <%= results[i].name %> </td>
            <td> <%= results[i].lastActive %> </td>
            <td><button>options</button></td>
          </tr>
          <tr class="userMenu hide">
            <td colspan="3">
              <ul>
                <li>
                  <a href="/chat/<%= results[i].userID %>">send message</a>
                </li>
                <li>
                  <a href="/profile/<%= results[i].userID %>">show profile</a>
                </li>
                <% if (results[i].banned === 1) { %>
                  <li>
                    <a href="" data-id="<%= results[i].userID %>">unban user</a>
                  </li>
                <% } else { %>
                  <li>
                    <a href="" data-id="<%= results[i].userID %>">ban user</a>
                  </li>
                <% } %>
              </ul>
            </td>
          </tr>
        <% } %>
      </tbody>
    </table>
  </main>

  <div class="hide" id="popUp">
    <div>
      <p>
      </p>
    </div>
    <div>
      <button>cancel</button>
      <button></button>
    </div>
  </div>

<%- include('../partials/footer.ejs') %>
