<%- include('../partials/header.ejs') %>

  <header>
    <h2>Meet people</h2>
    <a href="meet_random"><button type="button" name="button">Random</button></a>
  </header>

  <ul>
    <%# loop through all users who correspond with the user's prefference %>
    <% user.forEach(function(user) { %>
      <a href="profile/<%= user.id %>">
        <li>
          <p> <%= user.name %> </p>
          <p> <%= user.age %> </p>
          <p> <%= user.location %> </p>
        </li>
      </a>
    <% }) %>
  </ul>


  <%- include('../partials/footer.ejs') %>
