<%- include('../partials/header.ejs') %>

  <header>
    <h2>Meet people</h2>
    <a href="meet_random"><button type="button" name="button">Random</button></a>
  </header>

  <ul>
    <%# loop through all users who correspond with the user's prefference %>
    <% results.forEach(function(results) { %>
      <a href="profile/<%= results.id %>">
        <li>
          <p> <%= results.name %> </p>
          <p> <%= results.age %> </p>
          <p> <%= results.location %> </p>
        </li>
      </a>
    <% }) %>
  </ul>


  <%- include('../partials/footer.ejs') %>
