<%- include('../partials/header.ejs') %>

  <header>
    <h2>Meet people</h2>
    <a href="meet_random"><button type="button" name="button">Random</button></a>
  </header>

  <ul class="meetUsers">
    <%# loop through all users who correspond with the user's prefference %>
    <% results.forEach(function(results) { %>
      <li>
        <a href="profile/<%= results.id %>">
          <p> <%= results.name %> </p>
          <p>, <%= results.age %> </p>
          <p> <%= results.location %> </p>
        </a>
      </li>

    <% }) %>
  </ul>


<%- include('../partials/footer.ejs') %>
