<%- include('../partials/header.ejs') %>

  <header>
    <a href="/mychats">back</a>
    <h2>
      <!-- need a better way -->
      <% for (var i = 0; i < results.length; i++) { %>
        <% if (results[i].name != myName) { %>
          <%= results[i].name %>
          <% break; %>
        <% } %>
      <% } %>
    </h2>
  </header>
  <section>
    <ul>
      <% results.forEach(function(results) { %>
        <i>
          <%= results.name %>
        </i>
        <li>
          <%= results.message %>
        </li>
        <br />
      <% }) %>
    </ul>
  </section>
  <form action="">
    <input type="text" placeholder="type hier wat in om wat te zeggen">
    <input type="submit">
  </form>

<%- include('../partials/footer.ejs') %>
