<%- include('../partials/header.ejs') %>

  <header>
    <a class="no-js" href="#" data-back="back">back</a>

    <h2>
      <a href="/profile/<%=id%>">
      <!-- need a better way -->
      <% for (var i = 0; i < results.length; i++) { %>
        <% if (results[i].name != myName) { %>
            <%= results[i].name %>
          <% break; %>
        <% } else { %>
          -
          <% } %>
      <% } %>
      </a>
    </h2>
  </header>

  <main>
    <ul>
      <% for (var i = 0; i < results.length; i++) { %>
        <% if (results[i].message == null) {break;} %>
        <i>
          <%= results[i].name %>
        </i>
        <li>
          <p><%= results[i].message %></p>
        </li>
        <br />
      <% } %>
    </ul>
  </main>

  <form action="/chat/<%=id%>" method="post">
    <input type="text" placeholder="type hier wat in om wat te zeggen" name="message">
    <input type="submit">
  </form>

<script src="/scripts/back.js"></script>
<%- include('../partials/footer.ejs') %>
