<%- include('../partials/header.ejs') %>

  <header>
    <div>
     <a class="noJs" href="#" data-back="back">back</a>

      <h2>
        <a href="/profile/<%=id%>">
        <!-- need a better way -->
        <% for (var i = 0; i < results.length; i++) { %>
          <% if (results[i].name != myName) { %>
              <%= results[i].name %>
            <% break; %>
          <% } else { %>
            -
            <% } %>
        <% } %>
        </a>
      </h2>
    </div>
  </header>

  <main class="chatScreen">
    <ul>
      <% for (var i = 0; i < results.length; i++) { %>
        <% if (results[i].message == null) {break;} %>

        <% if (results[i].verzender == id) { %>
          <div class="partnerInput">
        <% } else { %>
          <div>
        <% } %>

          <i>
            <%= results[i].name %>
          </i>
          <li>
            <p><%= results[i].message %></p>
          </li>
          <br />
        </div>


      <% } %>
    </ul>
  </main>

  <form class="chatInput" action="/chat/<%=id%>" method="post">
    <input type="text" placeholder="type here what you want to say" name="message">
    <input type="submit">
  </form>

<%- include('../partials/footer.ejs') %>
