<%- include('../partials/header.ejs') %>
<header>
  <nav>
    <ul>
      <li>
        <a href="mychats">chat</a>
      </li>
      <li class="location">
        <a href="contacts"><b>contacts</b></a>
      </li>
    </ul>
  </nav>
</header>
<%# loop through all contacts of the user %>

  <main class="contentList">
    <ul>
      <% for (var i = 0; i < results.length; i++) { %>
        <% if (results[i].name === myName) { %>
          <% continue; %>
        <% } %>
        <li>
          <a href="profile/<%= results[i].userID %>">
            <p> <b><%= results[i].name %></b> </p>
          </a>
          <button> options </button>
        </li>


        <ul class="userMenu hide">
        <% if (admin) { %>
          <li>
            <a href="chat/<%= results[i].userID %>">send message</a>
          </li>
          <li>
            <a href="profile/<%= results[i].userID %>">show profile</a>
          </li>
          <li>
            <a class="disabled" href="profile/<%= results[i].userID %>">delete contact</a>
          </li>
          <% if (results[i].banned === 1) { %>
            <li>
              <a href="" data-id="<%= results[i].userID %>">unban user</a>
            </li>
          <% } else { %>
            <li>
              <a href="" data-id="<%= results[i].userID %>">ban user</a>
            </li>
          <% } %>

        <% } else { %>
          <li>
            <a href="profile/<%= results[i].userID %>">show profile</a>
          </li>
          <li>
            <a class="disabled" href="profile/<%= results[i].userID %>">report user</a>
          </li>
        <% } %>
        </ul>

      <% } %>


    </ul>
  </main>

  <div class="hide" id="popUp">
    <div>
      <p>
      </p>
    </div>
    <div>
      <button>cancel</button>
      <button></button>
    </div>
  </div>

<%- include('../partials/footer.ejs') %>
