<%- include('../partials/header.ejs') %>
  <nav>
    <ul>
      <li>
        <a href="mychats">chat</a>
      </li>
      <li>
        <a href="contacts"><b>contacts</b></a>
      </li>
    </ul>
  </nav>
  <main>
    <ul>
      <%# loop through all contacts of the user %>
      <% results.forEach(function(results) { %>
        <a href="chat/<%= results.id %>">
          <li>
            <h3> <%= results.name %> </h3>
          </li>
        </a>

        <a href="/contacts"><button> menu </button></a>

        <% if (admin) { %>
          <ul class="">
            <a href="/profile/<%= results.id %>"><li>send message</li></a>
            <a href="/profile/<%= results.id %>"><li>show profile</li></a>
            <a href="/profile/<%= results.id %>"><li>delete contact  atm</li></a>
            <a href="/profile/<%= results.id %>"><li>ban user</li></a>
          </ul>

        <% } else { %>
          <ul class="">
            <a href="/profile/<%= results.id %>"><li>show profile</li></a>
            <a href="/profile/<%= results.id %>"><li>report user</li></a>
          </ul>
        <% } %>
      <% }) %>


    </ul>
  </main>

<%- include('../partials/footer.ejs') %>
