<%- include('../partials/header.ejs') %>

  <header>
    <a href="">edit</a>
    <a href=""><button>change photo</button></a>
  </header>

  <section class="profilePic">
    <img src="uploads/<%= picture %>" alt="">
  </section>

  <section class="userInfo">
    <h2>Name: <%= results.name %> </h2>
    <br />
    <p>Gender: <%= results.gender %> </p>
    <p>Looking for: <%= results.lookingFor %> </p>
    <p>Age: <%= results.age %> </p>
    <p>Location: <%= results.location %> </p>

    <h3>About you:</h3>
    <!-- <input type="text" placeholder="Tell a bit about yourself - max 300 characters" value=" <%= results.about %> "> -->
    <p> <%= results.about %> </p>
  </section>

  <div class="menu">
    <a href="/my_profile/logout"><button>logout</button></a>
  </div>
<%- include('../partials/footer.ejs') %>
