<%- include('../partials/header.ejs') %>

  <header>
    <div>
      <a href="/my_profile/edit">edit</a>
      <%# <a href=""><button>change photo</button></a>%>
    </div>
  </header>

<main class="profileView">
  <section class="profilePic">
    <% if (results.picture) { %>
      <img src="uploads/<%= results.picture %>" alt="">
    <% } else { %>
      <img src="uploads/<%= picture %>" alt="">
    <% } %>
  </section>

  <section class="userInfo">
    <h2>Name: <%= results.name %> </h2>
    <br />
    <p>Gender: <%= results.gender %> </p>
    <p>Age: <%= results.age %> </p>
    <p>Looking for a: <%= results.lookingFor %> </p>
    <p>Between: <%= results.minAge %> &amp; <%= results.maxAge %></p>

    <p>Location: <%= results.location %> </p>

    <h3>About you:</h3>
    <p> <%= results.about %> </p>
  </section>
  <div>
    <a class="menu" href="/my_profile/logout">
      <button class="primaryBtn">logout</button>
    </a>
  </div>
</main>


<%- include('../partials/footer.ejs') %>
