<%- include('../partials/header.ejs') %>
<nav>
  <ul>
    <li>
      <a href="mychats"><b>chat</b></a>
    </li>
    <li>
      <a href="contacts">contacts</a>
    </li>
  </ul>
</nav>
    <%# loop through all active chats of the user %>
    <ul>
      <% results.forEach(function(results) { %>
        <li>
          <a href="chat/<%= results.id %>">
            <p> <%= results.name %> </p>
            <p> <%= results.age %> </p>
            <p> <%= results.location %> </p>
          </a>
        </li>

        <a href="/mychats/menu"><button> menu </button></a>

        <% if (admin) { %>
          <ul class="">
            <li>
              <a href="/profile/<%= results.id %>">add to contacts</a>
            </li>
            <li>
              <a href="/profile/<%= results.id %>">show profile</a>
            </li>
            <li>
              <a href="/profile/<%= results.id %>"><li>delete chat  atm</a>
            </li>
            <li>
              <a href="/profile/<%= results.id %>"><li>ban user</a>
            </li>
          </ul>

        <% } else { %>
          <ul class="">
            <li>
              <a href="/profile/<%= results.id %>">show profile</a>
            </li>
            <li>
              <a href="/profile/<%= results.id %>">report user</a>
            </li>
            <li>
              <a href="/profile/<%= results.id %>">delete chat  atm</a>
            </li>
          </ul>
        <% } %>
      <% }) %>


      <% }) %>
    </ul>


<%- include('../partials/footer.ejs') %>
