<%- include('../partials/header.ejs') %>
  <nav>
    <ul>
      <li>
        <a href="mychats"><b>chat</b></a>
      </li>
      <li>
        <a href="contacts">contacts</a>
      </li>
    </ul>
  </nav>

    <%# loop through all active chats of the user %>
    <section class="contacts">
      <ul>
        <% for (var i = 0; i < results.length; i++) { %>

          <% if (results[i].userID === myID) { %>
            <% continue; %>
          <% }; %>

          <li>
            <a href="chat/<%= results[i].userID %>">
              <p> <b><%= results[i].name %></b> </p>
              <p> last message time </p>
              <p> <%= results[i].message %> </p>
              <a href="/mychats/menu">
                <button> menu </button>
              </a>
            </a>
          </li>

        <% } %>
      </ul>
    </section>


<%- include('../partials/footer.ejs') %>
