<%- include('../partials/header.ejs') %>
  <nav>
    <ul>
      <li class="location">
        <a href="mychats"><b>chat</b></a>
      </li>
      <li>
        <a href="contacts">contacts</a>
      </li>
    </ul>
  </nav>

    <%# loop through all active chats of the user %>
    <main class="contentList">
      <ul>
        <% for (var i = 0; i < results.length; i++) { %>

          <% if (results[i].userID === myID) { %>
            <% continue; %>
          <% }; %>

          <li>
            <a href="chat/<%= results[i].userID %>">
              <p> <b><%= results[i].name %></b> </p>
              <p> <%= results[i].date %> </p>
              <p> <%= results[i].shortMsg %> </p>
              <a href="/mychats/menu">
                <button> menu </button>
              </a>
            </a>
          </li>


          <ul class="userMenu hide">
          <% if (admin) { %>
            <li>
              <a href="profile/<%= results[i].userID %>">add to contacts</a>
            </li>
            <li>
              <a href="profile/<%= results[i].userID %>">show profile</a>
            </li>
            <li>
              <a href="profile/<%= results[i].userID %>">delete chat atm</a>
            </li>
            <li>
              <a href="profile/<%= results[i].userID %>">ban user</a>
            </li>
          <% } else { %>
            <li>
              <a href="profile/<%= results[i].userID %>">show profile</a>
            </li>
            <li>
              <a href="profile/<%= results[i].userID %>">report user</a>
            </li>
            <li>
              <a href="profile/<%= results[i].userID %>">delete chat atm</a>
            </li>
          <% } %>
          </ul>


        <% } %>
      </ul>
    </main>

<script src='/scripts/main.js'></script>
<%- include('../partials/footer.ejs') %>
