<%- include('../partials/header.ejs') %>

<header>
  <!-- if else needed to place correct link per role -->
  <% if (admin) { %>
    <a href="/users">back</a>
  <% } else { %>
    <a href="/meet">back</a>
  <% } %>

  <% if (admin) { %>
    <button>menu</button>
  <% } %>
</header>

<main>
  <section class="profilePic">
    <% if (results.picture) { %>
      <img src="/uploads/<%= results.picture %>" alt="">
    <% } else { %>
      <p>No photo added yet.</p>
    <% } %>
  </section>

  <section class="userInfo">
    <h2> <%= results.name %> </h2>
    <p>, <%= results.age %> <%= results.gender %></p>

    <% if (results.location) { %>
      <p> <%= results.location %> </p>
    <% } %>

    <p>Looking for a: <%= results.lookingFor %></p>

    <h3>About me</h5>
    <p>
      <%= results.about %>
    </p>
  </section>


    <% if (admin) { %>
      <ul class="contentList ">
        <li><a href="/chat/<%= results.userID %>">send message</a></li>
        <% if (results.banned === 1) { %>
          <li>
            <a href="/users/unban/<%= results.userID %>">unban user</a>
          </li>
        <% } else { %>
          <li>
            <a href="/users/ban/<%= results.userID %>">ban user</a>
          </li>
        <% } %>

      </ul>
    <% } else { %>
      <a href="/chat/<%= results.userID %>"
      <% if (results.banned === 1) { %>
        class="disabled"
      <% } %>
      ><button>Let's chat! </button></a>
    <% } %>
</main>

<%- include('../partials/footer.ejs') %>
