<%- include('../partials/header.ejs') %>

  <header>
    <!-- if else needed to place correct link per role -->
    <a href="/">back</a>
    <%# <img src="http://lorempixel.com/400/200/people/" alt="">%>
    <p>Sorry, the photo is only visible if you have added each other as contacts.</p>

    <% if (admin) { %>
      <a href="menu"> menu </a>
    <% } %>

  </header>

  <section>
    <h3> <%= results[id-1].name %> </h3>
    <p> <%= results[id-1].age %> </p>

    <% if (results[id-1].location) { %>
      <p> <%= results[id-1].location %> </p>
    <% } %>

    <p>Looking for a: <%= results[id-1].lookingFor %></p>
  </section>

  <h5>About me</h5>
  <p>
    <%= results[id-1].about %>
  </p>


  <% if (admin) { %>
    <p>
      menu
    </p>
    <ul>
      <a href="/chat/<%= results[id-1].id %>">
        <li>send message</li>
      </a>
      <a href="block">
        <li>block user</li>
      </a>
    </ul>
  <% } else { %>
    <a href="riddle"><button>send riddle request</button></a>
  <% } %>


<%- include('../partials/footer.ejs') %>
