<%- include('../partials/header.ejs') %>

  <header>
    <!-- if else needed to place correct link per role -->
    <% if (admin) { %>
      <a href="/users">back</a>
    <% } else { %>
      <a href="/meet">back</a>
    <% } %>

    <% if (admin) { %>
      <a href="menu"> menu </a>
    <% } %>
  </header>

  <section class="profilePic">
    <% if (admin) { %>
      <img src="https://unsplash.it/1200/1200" alt="">
    <% } else { %>
      <p>Sorry, the photo is only visible if you have added each other as contacts.</p>
    <% } %>
  </section>

  <section class="userInfo">
    <h2> <%= results.name %> </h2>
    <p>, <%= results.age %> </p>

    <% if (results.location) { %>
      <p> <%= results.location %> </p>
    <% } %>

    <p>Looking for a: <%= results.lookingFor %></p>

    <h3>About me</h5>
    <p>
      <%= results.about %>
    </p>
  </section>


  <div class="menu">
    <% if (admin) { %>
      <p>
        menu
      </p>
      <ul>
        <li><a href="/chat/<%= results.userID %>">send message</a></li>
        <li><a href="block">ban user</a></li>
      </ul>
    <% } else { %>
      <a href="riddle"><button>send riddle request</button></a>
    <% } %>
  </div>




<%- include('../partials/footer.ejs') %>
